WORKAI_USERNAME=
WORKAI_PASSWORD=@Datcon96
ROCKET_SERVER_URL=https://chat.horusvn.com/
ROCKET_USER_ID=TJcgCWvT3uHuWyuWN
ROCKET_AUTH_TOKEN=PEfiRXomiEpQLjyy95vSOXQG4XppU4flicQHlsKXrd4
ROCKET_EXCLUDED_ROOMS=

